<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Confirmation</title>
</head>
<body>
    <h1>Thank you, {{full_name}}!</h1>
    <p>You have successfully submitted your lesson preferences.</p>

    <!-- Display submitted info-->
    <p>Lesson Category: {{lesson_cat}}</p>
    <p>Preferred Lesson Time Choice 1: {{day1}} at {{time1}}</p>
    <p>Preferred Lesson Time Choice 2: {{day2}} at {{time2}}</p>
    <p>Preferred Lesson Time Choice 3: {{day3}} at {{time3}}</p>
    <p>Lesson Frequency: {{freq}}</p>

    <p>You will receive a separate notification once your lesson time has been finalized!</p>
</body>
</html>