<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's View</title>
    <style>
        .finalized {
            background-color: #7aec95;
        }
    </style>
</head>
<body>
    <h1>Teacher's View</h1>
    <h2>Student Lesson Preferences</h2>
    <table border = '1'>
        <tr>
            <th>Student Name</th>
            <th>Lesson Category</th>
            <th>Frequency of Lesson</th>
            <th>Finalize Lesson</th>
        </tr>

        {% for student in students %}
        <tr class="{% if student.finalized_time %}finalized{% endif %}">
            <td>{{student.full_name}}</td>
            <td>{{student.lesson_cat}}</td>
            <td>{{student.freq}}</td>
            <td>
                {% if student.finalized_time %}
                    <!-- Display finalized time-->
                    <p>Finalized: {{ student.finalized_time }}</p>
                {% else %}
                    <!-- Show dropdown menu for Teacher to select finalized time if not yet finalized-->
                    <form action="{{ url_for('finalize_schedule', student_id=student.id) }}" method="POST">
                        <select name="finalized_time" required>
                            <option value="" disabled selected>Please choose an option</option>
                            <option value="{{ student.day1 }} {{ student.time1 }}">{{ student.day1 }} {{ student.time1 }}</option>
                            <option value="{{ student.day2 }} {{ student.time2 }}">{{ student.day2 }} {{ student.time2 }}</option>
                            <option value="{{ student.day3 }} {{ student.time3 }}">{{ student.day3 }} {{ student.time3 }}</option>
                        </select>
                        <button type="submit">Finalize</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>